# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Data files
data/

# Outputs
outputs/*
!outputs/plots/
!outputs/plots/*
# IDE
.vscode/
.idea/
*.swp
